@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/static/NotoSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url('../fonts/static/NotoSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

:root {
  --ff-sans: 'Noto Sans', sans-serif;

  --clr-primary: #bafae1;
  --clr-secondary: #f4f4f4;
}

body {
  font-size: 1.1rem;
}

.nav--container {
  max-width: 1200px;
  margin-inline: auto;
}

nav {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: red;
}

nav h1 {
  font-size: 1.4rem;
}
